@import './Variables';

.bottom-curvy-border {
    margin-bottom: -1.4rem;
}

.bottom {
    background-color: $dark-bg;
    color: $white-text;

    .content-wrapper {
        padding: 2rem 0;

        .item-wrapper {
            a {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                i {
                    color: $primary-color;
                }

                p {
                    font-family: 'Dosis', sans-serif;
                    font-weight: 500;
                    line-height: 19px;
                    letter-spacing: 1px;
                    text-decoration: none;
                    color: $white-text;
                }
            }
        }
    }
}