.contact-form {
    width: 100%;
    margin: 2rem 0 0;
    padding: 2rem 0 0;

    .group {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        input,
        textarea {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}