@import './Variables.scss';

.contact-info {
    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;

        .item-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1.5rem;
            padding: 3rem;
            margin-bottom: 1.5rem;
            width: 100%;
            border-radius: $border-radius-cards;
            box-shadow: $box-shadow;
            background-color: $white-bg;

            .featured-text-mark {
                color: $light-primary-color;
            }

            p {
                text-align: left;
                font-size: 1rem;
                font-weight: 600;
                margin: 0;

                span {
                    font-weight: 400;
                }
            }

            a {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;

                .icon {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.map {
    padding: 3rem;
    margin-bottom: 1.5rem;
    width: 100%;
    border-radius: $border-radius-cards;
    box-shadow: $box-shadow;
    background-color: $white-bg;

    iframe {
        border-radius: $border-radius-cards;
    }
}

.contact-form {
    width: 100%;
    margin: 2rem 0 0;
    padding: 2rem 0 0;

    .group {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        input,
        textarea {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}