@import './Variables';

footer.footer {
    background-color: $dark-bg;
    font-family: 'Dosis', sans-serif;

    .content-wrapper {
        padding: 2rem 0;
        border-top: $border;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }
}

@media screen and (min-width: 992px) {
    footer.footer {
        .content-wrapper {
            flex-direction: row;
        }
    }
}