@import './Variables';

.about-home {
    .content-wrapper {
        gap: 2rem;

        .item-wrapper {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                width: 100%;
                border-radius: $border-radius-cards;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .about-home {
        .content-wrapper {
            gap: 0;

            .item-wrapper {
                align-items: flex-start;

                .section-title {
                    h3.subtitle {
                        align-self: flex-start;
                    }
                }
            }
        }
    }
}

.hero-section {
    height: calc(100vh - 70px);
    width: 100%;
    overflow: hidden;
    background-image: url('../assets/home-img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .overcolor {
        height: 100%;
        background-color: #c1e5fcb8;

        .container.f-column {
            justify-content: center;
            align-items: center;
            height: 90%;

            .content-wrapper {
                align-items: center;
                gap: 1rem;

                h1 {
                    span {
                        color: $light-primary-color;
                    }
                }

                p {
                    font-size: 1.25rem;
                    line-height: 1.5rem;
                    font-weight: 500;
                    max-width: 30rem;
                }

                .button-group {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

.hero-curvy-border {
    position: absolute;
    bottom: -28px;
    width: 100%;

    img {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .hero-section {
        height: calc(130vh - 70px);

        .overcolor {
            .container.f-column {
                height: 70%;

                .content-wrapper {
                    h1 {
                        font-size: 4.3rem;
                        font-weight: 700;
                        letter-spacing: 2px;
                        line-height: 1;

                        span {
                            display: block;
                        }
                    }

                    p {
                        text-align: center;
                    }

                    .button-group {
                        flex-direction: row;
                        gap: 1rem;
                    }
                }
            }
        }
    }

    .hero-curvy-border {
        bottom: -275px;
    }
}

.lasts-works-home-grid {
    .content-wrapper {
        margin: 2rem 0;
        padding: 2rem 0;

        img {
            height: 20rem;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: .2rem;
        }
    }
}

.wapp-link-home {
    background-color: $medium-dark-bg;
    padding: 3rem 0;
    text-align: center;

    h1 {
        margin-bottom: 1rem;

        span {
            display: block;
            font-weight: 700;
            color: $primary-color;
        }
    }

    p {
        text-align: center;
        max-width: 30rem;
        margin: 0 auto;
    }
}