@import './Variables';

.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: .5rem 0rem;
    background-color: transparent;
    color: $dark-text;

    .brand-name {
        display: flex;
        margin-left: 0;
        overflow: hidden;

        img {
            max-width: 250px;
        }
    }

    .navigation-menu {
        margin-left: auto;

        ul {
            display: flex;
            padding: 0;

            li {
                list-style-type: none;
                margin: 0 1rem;

                a {
                    font-family: 'Dosis', sans-serif;
                    font-weight: 600;
                    line-height: 19px;
                    letter-spacing: 1px;
                    text-decoration: none;
                    display: block;
                    width: 100%; // increases the surface area of the anchor tag to span more than just the anchor text
                    color: $dark-text;

                    &:hover,
                    &:active {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .hamburger {
        border: 0;
        height: 40px;
        width: 40px;
        padding: .5rem;
        border-radius: 50%;
        cursor: pointer;
        transition: $main-transition;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: none;
        line-height: 0;

        &:hover {
            background-color: $selection;
        }
    }
}

@media screen and (max-width: 768px) {
    .navigation {
        .hamburger {
            display: block;
        }

        .navigation-menu {
            ul {
                display: none;
                position: fixed;
                top: 70px; // navigation menu is positioned to start 70px from the top of the document (which is directly below the navbar)
                left: 0;
                flex-direction: column; // stacks the li tags vertically
                width: 100%; // makes menu span full height and width
                height: 100vh;
                background-color: white;
                border-top: $border;

                li {
                    text-align: center; // centers link text and strips off margin
                    margin: 0;

                    a {
                        color: $dark-text;
                        width: 100%; // increases the surface area of the anchor tag to span the full width of the menu
                        padding: 2rem 0;
                    }

                    &:hover,
                    &:active {
                        background-color: $selection;
                    }
                }
            }
        }

        .navigation-menu.expanded {
            ul {
                display: block;
                z-index: 9999;
            }
        }
    }
}