@import './Variables';

.services-home-grid {
    .content-wrapper {
        .item-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            padding: 3rem;
            margin-bottom: 1.5rem;
            border-radius: $border-radius-cards;
            box-shadow: $box-shadow;
            background-color: $white-bg;

            .icon {
                font-size: 4rem;
                color: $dark-primary-color;
            }

            h5 {
                margin-bottom: 0;
                color: $light-primary-color;
            }

            p {
                color: $light-text;
                text-align: center;
            }
        }
    }
}

.services-grid {
    .content-wrapper {
        margin: 2rem 0;
        padding: 2rem 0;

        .item-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            padding: 3rem;
            margin-bottom: 1.5rem;
            border-radius: $border-radius-cards;
            box-shadow: $box-shadow;
            background-color: $white-bg;

            .icon {
                font-size: 4rem;
                color: $dark-primary-color;
            }

            h5 {
                margin-bottom: 0;
                color: $light-primary-color;
            }

            p {
                color: $light-text;
                text-align: center;
            }
        }
    }
}

.clients {
    padding: 2rem 0;

    .item-wrapper {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 2rem;
        margin-bottom: 1.5rem;
        border-radius: $border-radius-cards;
        box-shadow: $box-shadow;
        background-color: $white-bg;

        img {
            width: 100%;
            max-width: 6rem;
        }

        &:hover {
            transform: translateY(-.25rem);
            opacity: 1;
        }
    }
}