@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&family=Nunito:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

@import 'Variables';
@import 'home';
@import 'services';
@import 'works';
@import 'contact';

// Global styles
::selection {
  background-color: $selection;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: $light-bg;
  color: $dark-text;
  font-weight: 400;
  font-size: 1rem;
  line-height: 3.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Flex
.f-column {
  display: flex;
  flex-direction: column;
}

.f-row {
  display: flex;
  flex-direction: row;
}

// Text
h1,
h2,
h3,
h4,
h5,
h6,
span.category,
span.author {
  font-family: 'Dosis', sans-serif;
  color: $dark-text;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 3rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 2.2rem;
  margin-bottom: 0.85rem;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.7px;
  line-height: 2rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.25rem;
  margin-bottom: 1.25rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1rem;
}

p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1rem;
  color: $dark-text;
  margin: 0.625rem 0;
}

.featured-text {
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.5;

  .featured-text-mark {
    color: $light-primary-color;
    font-weight: 900;
  }
}

small {
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  line-height: 1.025rem;
  color: $white-text;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: $primary-color;
  transition: $main-transition;

  &:hover {
    color: $dark-primary-color;
  }
}

@media screen and (max-width: 992px) {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  small,
  span.category,
  span.author {
    text-align: center;
  }
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  h2.title {
    text-transform: uppercase;
  }

  h3.subtitle {
    font-size: 2.25rem;
    font-weight: 600;
    color: $primary-color;
  }

  .separator {
    width: 100px;
    height: 8px;
    margin: 1rem 0;
    background-image: url('./assets/wave.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 992px) {
  .section-title {
    justify-content: flex-start;
    align-items: center;
    text-align: left;
  }
}

// Buttons
.button {
  display: inline-block;
  margin: 1rem 0;
  border-radius: $border-radius;
  padding: 0.7em 1.764em;
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 1.37rem;
  letter-spacing: 1px;
  transition: $main-transition;
  width: auto;
}

.button-lg {
  font-size: 1.25rem;
}

.button-md {
  font-size: 1.2rem;
}

.button-sm {
  font-size: 1rem;
}

.primary-button {
  background-color: $primary-color;
  color: $white-text;

  &:hover {
    background-color: $dark-primary-color;
    color: $white-text;
    box-shadow: 0 5px 5px 0 rgb(41 112 250 / 25%);
  }
}

.primary-button-outline {
  color: $primary-color;
  border: 1px solid $primary-color;
  font-weight: 600;

  &:hover {
    background-color: $primary-color;
    color: $white-text;
  }
}

.secondary-button {
  background-color: $white-bg;
  color: $dark-text;
  font-weight: 400;

  &:hover {
    color: $primary-color;
    box-shadow: 0 5px 5px 0 rgb(41 112 250 / 25%);
  }
}

// Spacing
section {
  padding: 5rem 0;
}

.curvy-border-bottom {
  transform: scaleY(-1);
  margin-top: -2.5rem;
}

.curvy-border-top {
  margin-bottom: -2.5rem;
}

// Header
.desktop-header {
  display: none !important;
}

@media screen and (min-width: 768px) {
  .mobile-header {
    display: none !important;
  }

  .desktop-header {
    display: block !important;
  }
}

// Nav
.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: .5rem 0rem;
  background-color: transparent;
  color: $dark-text;

  .brand-name {
    display: flex;
    margin-left: 0;
    overflow: hidden;

    img {
      max-width: 250px;
    }
  }

  .navigation-menu {
    margin-left: auto;

    ul {
      display: flex;
      padding: 0;

      li {
        list-style-type: none;
        margin: 0 1rem;

        a {
          font-family: 'Dosis', sans-serif;
          font-weight: 600;
          line-height: 19px;
          letter-spacing: 1px;
          text-decoration: none;
          display: block;
          width: 100%; // increases the surface area of the anchor tag to span more than just the anchor text
          color: $dark-text;

          &:hover,
          &:active {
            color: $primary-color;
          }
        }
      }
    }
  }

  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: $main-transition;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: none;
    line-height: 0;

    &:hover {
      background-color: $selection;
    }
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    .hamburger {
      display: block;
    }

    .navigation-menu {
      ul {
        display: none;
        position: fixed;
        top: 70px; // navigation menu is positioned to start 70px from the top of the document (which is directly below the navbar)
        left: 0;
        flex-direction: column; // stacks the li tags vertically
        width: 100%; // makes menu span full height and width
        height: 100vh;
        background-color: white;
        border-top: $border;

        li {
          text-align: center; // centers link text and strips off margin
          margin: 0;

          a {
            color: $dark-text;
            width: 100%; // increases the surface area of the anchor tag to span the full width of the menu
            padding: 2rem 0;
          }

          &:hover,
          &:active {
            background-color: $selection;
          }
        }
      }
    }

    .navigation-menu.expanded {
      ul {
        display: block;
        z-index: 9999;
      }
    }
  }
}

// Bottom
.bottom-curvy-border {
  margin-bottom: -1.4rem;
}

.bottom {
  background-color: $dark-bg;
  color: $white-text;

  .content-wrapper {
    padding: 2rem 0;

    .item-wrapper {
      a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        i {
          color: $primary-color;
        }

        p {
          font-family: 'Dosis', sans-serif;
          font-weight: 500;
          line-height: 19px;
          letter-spacing: 1px;
          text-decoration: none;
          color: $white-text;
        }
      }
    }
  }
}

// Footer
footer.footer {
  background-color: $dark-bg;
  font-family: 'Dosis', sans-serif;

  .content-wrapper {
    padding: 2rem 0;
    border-top: $border;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }
}

@media screen and (min-width: 992px) {
  footer.footer {
    .content-wrapper {
      flex-direction: row;
    }
  }
}